.action-title{
font-size:40px;
font-style:italic;
color:#4A4A0C;
padding:40px;
}
.display-deals{
  margin:20px;
  font-size:20px;
  border:2px groove white;
  height:80px;
  text-align:left;
}
.display-description{
font-size:15px

}
.person_new p label {
float:left;
margin-top:15px
padding:2px;
}

.devise-inputs {
border:2px groove white;
overflow:hidden;
padding:5px;
}

.devise-inputs input {
    float:right;
}

#person_new{
margin-top:120px;
margin-left:200px;
width:490px;
}

