.action-title{
font-size:40px;
font-style:italic;
color:#4A4A0C;
padding:40px;
}
.display-deals{
  margin:20px;
  font-size:20px;
  height:100px;
  text-align:left;
  -moz-box-shadow: 10px 15px 15px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
}
.display-description{
font-size:15px

}
.display-title{

}
.person_new p label {
float:left;
margin-top:15px
padding:2px;
}

.devise-inputs {
border:2px groove white;
overflow:hidden;
padding:5px;
}

.devise-inputs input {
    float:right;
}

#person_new{
margin-top:120px;
margin-left:200px;
width:490px;
}
.deal-thumbnail{
  border:2px groove white;
  float:right;
  padding:5px;
  margin:5px;
}
.deal-content{
  float:left;
  width:650px;
}