.action-title{
font-size:40px;
font-style:italic;
color:#4A4A0C;
padding:40px;
}
.display-deals{
  margin:20px;
  font-size:30px;
}
.person_new p label {
float:left;
}

.person_new p label {
float:left;
margin:5px
padding:2px;
}